div p {
    color: yellow;
    background-color: black;
}

div>p {
    color: pink;
    background-color: blueviolet;
}

div~p {
    color: pink;
    background-color: blue;
}

div+p {
    color: brown;
    background-color: pink;
}

